services:
  backend:
    image: ghcr.io/mbds-haiti/mini-projet-trio-react-backend:latest
    container_name: student-backend
    expose:
      - "8010"
    env_file:
      - ./student_management/.env
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    image: ghcr.io/mbds-haiti/mini-projet-trio-react-frontend:latest
    container_name: student-frontend
    expose:
      - "80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: student-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
    restart: unless-stopped

  certbot:
    image: certbot/certbot
    container_name: student-certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

networks:
  app-network:
    driver: bridge