version: "3.9"

services:
  backend:
    image: ghcr.io/mbds-haiti/mini-projet-trio-react-backend:latest
    container_name: student-backend
    expose:
      - "8010"
    env_file:
      - ./student_management/.env
    networks:
      - app-network

  frontend:
    image: ghcr.io/mbds-haiti/mini-projet-trio-react-frontend:latest
    container_name: student-frontend
    expose:
      - "80"
    depends_on:
      - backend
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: student-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge