/* APropos.css */

.apropos-container {
  padding: 24px;
}

.apropos-paper {
  padding: 32px;
  border-radius: 16px;
  max-width: 800px;
  margin: auto;
}

.apropos-title {
  margin-bottom: 10px;
  font-weight: 700;
}

.apropos-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 12px;
}

.apropos-list {
  line-height: 1.6;
  padding-left: 20px;
  margin-bottom: 12px;
}

.apropos-highlight {
  font-weight: bold;
}
